@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
body {
  background-color: #fff;
  font-family: "Roboto";
}
.head-sty {
  color: #183b56;
  text-decoration: underline;
  font-weight: bold;
}
.head-desc {
  color: black;
  font-weight: initial;
  font-size: 30px;
}
.para {
  font-size: 30px;
  color: black;
}
.links-wid {
  background: chartreuse;
  height: 40px;
  width: 140px;
  border-width: 2px;
  border-style: solid;
  border-color: chartreuse;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}
ol li {
  font-family: "roboto";
  font-size: 30px;
  font-weight: bold;
}
