<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avocado</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static\forign_crops2.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="p-5">
        <h1 class="head-sty">Avocado (Persea americana)</h1>
        <h1 class="head-desc">
          The avocado is a medium-sized, evergreen tree in the laurel family. It
          is native to the Americas and was first domesticated by Mesoamerican
          tribes more than 5,000 years ago.
        </h1>
        <p class="para">
          Avocado trees can grow well in a wide range of soils. The ideal soil
          for most varieties is loose, loamy, or sandy with a slightly acidic to
          neutral pH, between 5 and 7.
        </p>
        <p class="para">
          Based on scientific data, in hot climates, avocado water use is around
          45 liters per day (l/day) in spring, 136 to 220 l/day during summer.
        </p>
        <p class="para">
          Mature culmination ripen six to 10 days after harvesting. The fruits
          remain difficult so long as they stay on the trees, softening simplest
          after harvest. The yield tiers from approximately 100 to 500 fruits
          consistent with tree. In Sikkim, fruits are harvested all through July
          to October is the same old harvesting time. In Coorg region
          culmination are to be had from June to October. In Tamil Nadu,
          July-August is the peak harvest time.
        </p>
        <h1 class="head-desc">
          The total cost involved in Avocado cultivation is about 500000
        </h1>
        <h1 class="head-desc">
          The fruits remain hard as long as they stay on the trees, softening
          only after harvest. The yield ranges from about 100 to 500 fruits per
          tree.
        </h1>
        <p class="para">For more details,refer to:</p>
        <div class="text-center">
          <a class="links-wid p-3 mt-3 mr-3" href="https://www.asiafarming.com/"
            >Asia Farming</a
          >
          <a class="links-wid p-3 mt-3" href="http://corn.agronomy.wisc.edu/"
            >Corn Agronomy</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
