<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static\forign_crops2.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
    <title>Buckwheat</title>
  </head>
  <body>
    <div class="container">
      <div class="p-5">
        <h1 class="head-sty">Buckwheat(Fagopyrum esculentum)</h1>
        <h1 class="head-desc">
          Buckwheat is a staple pseudograin crop in some parts of eastern
          Europe, where the hulled kernels, or groats, are prepared as kasha,
          cooked and served much like rice. While buckwheat flour is
          unsatisfactory for bread, it is used, alone or mixed with wheat flour,
          to make griddle cakes called buckwheat cakes in the United States and
          Canada. Buckwheat is high in carbohydrates and protein and provides
          small amounts of vitamins B1 and B2.
        </h1>
        <p class="para">
          Buckwheat is a fast-growing plant that begins to flower 4 weeks after
          it is sown and produces grain in 10 to 12 weeks. It can be planted in
          summer until mid-August.
        </p>
        <p class="para">
          Buckwheat is considered a warm-season summer annual crop, meaning that
          it's typically grown in the warmest part of the year unlike cool
          season spring crops
        </p>
        <p class="para">
          It grows best in well-maintained, moderately fertile soil. It prefers
          moist, well-drained soils. It also tolerates those with low fertility
          and decaying organic matter.
        </p>
        <h1 class="head-desc">
          ranges from Rs. 76200 per hectare at marginal farms, to Rs. 84000 per
          hectare at large farms
        </h1>
        <h1 class="head-desc">
          Under good conditions, buckwheat can yield up to 1,400 to 1,500 pounds
          per acre. Buckwheat income is modest, but production costs are also
          low, making a net profit feasible.
        </h1>
        <p class="para">For more details,refer to:</p>
        <div class="text-center">
          <a class="links-wid p-3 mt-3 mr-3" href="https://www.asiafarming.com/"
            >Asia Farming</a
          >
          <a class="links-wid p-3 mt-3" href="http://corn.agronomy.wisc.edu/"
            >Corn Agronomy</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
