<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static\forign_crops2.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
    <title>Camachile</title>
  </head>
  <body>
    <div class="container">
      <div class="p-5">
        <h1 class="head-sty">Camachile(Pithecolobium dulce)</h1>
        <h1 class="head-desc">
          It a common tropical American tree (Pithecolobium dulce) yielding good
          timber, a yellow dye, a mucilaginous gum, and a widely used edible
          fruit
        </h1>
        <p class="para">
          The tree grows well at low and medium altitudes in both wet and dry
          areas of the tropics. It can tolerate an annual rainfall as low as
          140mm and as high as 2,200mm. It will grow in areas where the average
          temperature ranges from 18 - 27.9°c. An easily grown plant that can
          succeed in most soils, it prefers a well-drained soil in a sunny
          position.
        </p>
        <p class="para">
          About 1-2 inches of water are required per week. Use drip irrigation
          if possible to conserve water. Applying mulch around the plant also
          helps conserve soil moisture and reduce weed growth.Sprouts like a
          firm, neutral or alkaline soil.
        </p>
        <p class="para">
          It yields about 79 kg/tree/year which is 30.0% increase over local
          type. The highest yield obtained from this variety is 125 kg / tree /
          year (11.85 t/ha).
        </p>
        <h1 class="head-desc">
          These green and compact sprouts weigh 7 to 8 grams. A single plant can
          produce 200 to 400 sprouts giving an average yield of 100 to 150
          quintals per ha
        </h1>
        <h1 class="head-desc">For more details,refer to:</h1>
        <p class="para">For more details,refer to:</p>
        <div class="text-center">
          <a class="links-wid p-3 mt-3 mr-3" href="https://www.asiafarming.com/"
            >Asia Farming</a
          >
          <a class="links-wid p-3 mt-3" href="http://corn.agronomy.wisc.edu/"
            >Corn Agronomy</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
