<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static\forign_crops2.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
    <title>Cassava</title>
  </head>
  <body>

    <div class="container">
      <div class="p-5">
        <h1 class="head-sty">Cassava</h1>
        <h1 class="head-desc">
          It is a tuberous edible plant of the spurge family (Euphorbiaceae)
          from the American tropics. It is cultivated throughout the tropical
          world for its tuberous roots, from which cassava flour, breads,
          tapioca, a laundry starch, and an alcoholic beverage are derived.
        </h1>
        <p class="para">
          Cassava tubers take 9-11 months to ripen. Harvesting signs are
          yellowing leaves. So once you spot yellowing leaves, cut the stems of
          the cassava plant down to 8-12 inches; this allows the plant to focus
          on the tubers and fill them up with starch.
        </p>
        <p class="para">
          The plant doesn't mind growing in any one of the three types of soil:
          loamy soil, clay, or sandy soil.The pH level of the soil can be
          neutral, slightly acidic, or slightly alkaline.
        </p>
        <p class="para">
          Provide the cassava plant with the standard water quota of 1 inch a
          week. If it rains heavily, though, skip watering until the rainfall
          ends.
        </p>
        <h1 class="head-desc">Initial investment of around 250000</h1>
        <h1 class="head-desc">22.5 tonnes/hectare yield</h1>
        <p class="para">For more details,refer to:</p>
        <div class="text-center">
          <a class="links-wid p-3 mt-3 mr-3" href="https://www.asiafarming.com/"
            >Asia Farming</a
          >
          <a class="links-wid p-3 mt-3" href="http://corn.agronomy.wisc.edu/"
            >Corn Agronomy</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
