<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static\forign_crops2.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
    <title>Forage sorghum</title>
  </head>
  <body>
    <div class="container">
      <div class="p-5">
        <h1 class="head-sty">Forage Sorghum</h1>
        <h1 class="head-desc">
          Sorghum is indigenous to Africa, and many of today's varieties
          originated on that continent.
        </h1>
        <p class="para">
          Sorghums are fast-growing, warm weather annuals that will provide
          plenty of feed in mid-summer when many other forages slow down.
          Sorghums are best suited to warm, fertile soils; cool, wet soils limit
          their growth
        </p>
        <p class="para">
          Sorghums need a warm, fertile soil, somewhat similar to those of corn
          at the same yield goals, although sorghums are usually more efficient
          in their use of phosphorus and potassium. A soil pH of 6.0 is adequate
          for sorghum production.
        </p>
        <p class="para">
          On an average farmer has to spend Rs. 11,605 to cultivate sorghum in
          one acre.
        </p>
        <h1 class="head-desc">
          Tests conducted in Wisconsin in the 1960s indicate that yields of dry
          matter were highest under the silage management program, followed by
          the green chop and then the pasture management program. Silage yields
          ranged from 4 to 12 tons of dry matter per acre.
        </h1>

        <p class="para">For more details,refer to:</p>
        <div class="text-center">
          <a class="links-wid p-3 mt-3 mr-3" href="https://www.asiafarming.com/"
            >Asia Farming</a
          >
          <a class="links-wid p-3 mt-3" href="http://corn.agronomy.wisc.edu/"
            >Corn Agronomy</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
