<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static\forign_crops2.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
    <title>Hop Shoots</title>
  </head>
  <body>
    <div class="container mb-5">
      <h1 class="head-sty">Hop Shoots (scientific name : humulus-lupulus )</h1>
      <h1 class="head-desc">
        Hop shoots are cone-shaped, green-coloured flowers of female hop
        plants.Hop shoots fruits, flowers, and stems are useful in making:
      </h1>
      <ol class="">
        <li>Beverages</li>
        <li>Beer</li>
        <li>Antibiotics</li>
        <li>Medicines</li>
        <li>Aromatic products</li>
      </ol>
      <p class="para">
        Hop plants germinate from the soil during the month of March.
      </p>
      <p class="para">
        Hops cultivation in India, there should be: Minimum of 120 days without
        frost.
      </p>
      <p class="para">
        Loamy, well-drained soil, is best for hops cultivation. Soil with a ph
        level between 6 to 7.0 is best suited for crop growth.
      </p>
      <p class="para">
        Adding legume cover crops and compost can help provide the required
        nutrients to the crop. Hops require nitrogen up to 200 lbs (224kg/ha) in
        about a 6-week short window.
      </p>
      <h1 class="head-desc">Initial investment is of around 3 lakhs.</h1>
      <h1 class="head-desc">Yield 2-5 t/ha</h1>
      <p class="para">For more details,refer to:</p>
      <div class="text-center">
        <a class="links-wid p-3 mt-3 mr-3" href="https://www.asiafarming.com/"
          >Asia Farming</a
        >
        <a class="links-wid p-3 mt-3" href="http://corn.agronomy.wisc.edu/"
          >Corn Agronomy</a
        >
      </div>
    </div>
  </body>
</html>
