<!DOCTYPE html>
<html>
  <head>
    <title>hackfrenzy</title>
    <meta charset="utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE = edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static\style.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5">
      <div class="container">
        <a class="navbar-brand" href="#">Agriculture Reforms</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#about"
                >About<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <header>
      <nav>
        <h2 class="logo">Agriculture Reforms</h2>
        <div class="header d-flex flex-row justify-content-center" id="home">
        <div class="d-flex flex-row justify-content-end">
        <ul class="ml-auto">
          <!-- <li><a href="#"></a></li> -->
          <li><a href="#follow">Contact Us</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>
      </div>
      </nav>
    </header>
    <div class="home-section-container">
      <div class="main-container d-flex justify-content-center flex-column">
        <div class="text-center">
          <div class="d-flex flex-row justify-content-center m-5">
            <a class="button-sty" href="/recommendation">
              Find Suitable Crop
            </a>
          </div>

          <div class="d-flex flex-row justify-content-center m-5">
            <a class="button-sty" href="/foreign_crop">
              Information about Foreign Crops
            </a>
          </div>
          <div class="d-flex flex-row justify-content-center m-5">
            <a class="button-sty" href="/fertilizer_rec">Fertilizer Recommondation</a>
          </div>
        </div>
      </div>
      <div class="about-us-section-container p-5" id="about">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card shadow p-3 mb-5">
                <h1 class="text-center">Our Mission</h1>
                <p class="about-content">
                  Our mission at HackFrenzy is to transform Indian agriculture
                  by leveraging the power of data science. We are dedicated to
                  modernizing and empowering farmers by providing them with
                  data-driven insights and solutions that enable them to
                  increase their productivity, efficiency, and profitability. We
                  believe that by harnessing the vast potential of data, we can
                  help farmers make more informed decisions, optimize their
                  operations, and achieve greater success.
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card shadow p-3 mb-5">
                <h1 class="text-center">Our Plan</h1>
                <p class="about-content">
                  Our approach is focused on delivering practical, actionable
                  solutions that have a tangible impact on farmers' lives and
                  livelihoods. Through ongoing collaboration and a deep
                  commitment to innovation, we believe we can help transform
                  Indian agriculture and build a more sustainable, prosperous
                  future for all.
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card shadow p-3 mb-5">
                <h1 class="text-center">Our Vision</h1>
                <p class="about-content">
                  By empowering farmers with data-driven insights and solutions,
                  we envision a future where Indian agriculture is more
                  sustainable, efficient, and resilient than ever before. At
                  Hackfrenzy, our ultimate goal is to make a meaningful,
                  lasting, and scalable impact on the lives of farmers across
                  India, and to help create a brighter future for all.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="follow-us-section pt-5 pb-5" id="follow">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="follow-us-section-heading">Contact Us</h1>
            </div>
            <div class="col-12">
              <div class="d-flex flex-row justify-content-center">
                <div class="follow-us-icon-container">
                  <a target="_blank" href="https://www.linkedin.com/in/sai-satya-jonnalagadda-157900225/"><i class="fab fa-linkedin icon"></i></a>
                </div>
                <div class="follow-us-icon-container">
                  <a href="#"><i class="fab fa-instagram icon"></i></a>
                </div>
                <div class="follow-us-icon-container">
                  <a href="#"><i class="fab fa-facebook icon"></i></a>
                </div>
                
              </div>
            </div>
            <div class="col-12 text-center">
              <p>Sai Satya: jj1039@srmist.edu.in</p>
              <p>Abhinav: abhinav260804@gmail.com</p>
              <p>Vishnu sai KP: kk4563@srmist.edu.in</p>
              <p>Umar Mohd: ss2197@srmist.edu.in</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
