<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static\forign_crops2.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
    <title>Mangosteen</title>
  </head>
  <body>
    <div class="container">
      <div class="p-5">
        <h1 class="head-sty">Mangosteen (Garcinia mangostana)</h1>
        <h1 class="head-desc">
          mangosteen, also called purple mangosteen, a handsome tropical tree
          (family Clusiaceae) is native to Southeast Asia and cultivated for its
          tart-sweet fruit.
        </h1>
        <p class="para">
          The mangosteen generally does not prosper outside the tropics and is
          usually found fresh only in local markets.
        </p>
        <p class="para">
          Under favourable conditions, the slow-growing mangosteen tree can
          reach a height of 9.5 metres (31 feet). It has thick, dark green,
          glossy leaves, 15–25 cm (6–10 inches) long, borne in opposite pairs
          along the stem, and large rose-pink flowers.
        </p>
        <p class="para">
          Seedlings take 8 to 15 years to bear fruit. Individual trees have been
          reported to yield more than 1,000 fruits in a season, but the plants
          usually produce good crops only in alternate years.
        </p>
        <p class="para">For more details,refer to:</p>
        <div class="text-center">
          <a class="links-wid p-3 mt-3 mr-3" href="https://www.asiafarming.com/"
            >Asia Farming</a
          >
          <a class="links-wid p-3 mt-3" href="http://corn.agronomy.wisc.edu/"
            >Corn Agronomy</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
