<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static\forign_crops2.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/5f59ca6ad3.js"
      crossorigin="anonymous"
    ></script>
    <title>Persimmon</title>
  </head>
  <body>
    <div class="container">
      <div class="p-5">
        <h1 class="head-sty">Persimmon(Diospyros kaki)</h1>
        <h1 class="head-desc">
          The persimmon is the edible fruit of a number of species of trees in
          the genus Diospyros. The most widely cultivated of these is the
          Oriental persimmon, Diospyros kaki .
        </h1>
        <p class="para">
          It is a monoecious tree grows up to a height of about 5-15 m. The
          trees are deciduous and complete their dormancy in the middle of
          February. The dormant trees, can tolerate fairly low temperature as
          low as -15°C.
        </p>
        <p class="para">
          To achieve optimal growth and quality fruit, regular watering is
          required. Water your persimmon tree for 10 minutes once or twice a
          week in the spring and summer. Persimmon trees will withstand short
          periods of drought.About 1-2 inches of water are required per week.
          Use drip irrigation if possible to conserve water. Applying mulch
          around the plant also helps conserve soil moisture and reduce weed
          growth.Sprouts like a firm, neutral or alkaline soil.
        </p>
        <p class="para">
          The fruit, though costs Rs 150-300 during off-seasons have a nominal
          price of Rs 100 per kilo in retail during seasons
        </p>
        <h1 class="head-desc">
          Yield of Persimmons depend on the planting method, soil, irrigation,
          tree age, variety and other garden management practices. One can
          obtain around 160 to 200 kg of fruits per year from fully grown
          (matured) tree.
        </h1>

        <p class="para">For more details,refer to:</p>
        <div class="text-center">
          <a class="links-wid p-3 mt-3 mr-3" href="https://www.asiafarming.com/"
            >Asia Farming</a
          >
          <a class="links-wid p-3 mt-3" href="http://corn.agronomy.wisc.edu/"
            >Corn Agronomy</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
